{% extends 'base.html' %}

{% block title %}
<title>EasyFonts</title>
{% endblock %}

{% block body %}

<div class="container text-center mb-5">
  <h1>EasyFonts</h1>
  <p>A selection of @font-face packages, ready to download. All typefaces displayed are licensed and free to use.</p>
</div>

<div class="card mb-3">
  <h5 class="card-header">Accia Flare Light</h5>
  <div class="card-body">
    <h5 class="card-title AcciaFlareFont">Accia Flare Light</h5>
    <div class="row">
      <div class="col-6">
        <p class="card-text">
          Designer: Andriy Konstantynov<br>
          Link: 
          <a href="https://minttype.com/">Website</a>
        </p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <a href="/acciaflare" class="btn btn-success mt-auto">Download (138 KB)</a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <h5 class="card-header">Gonestones</h5>
  <div class="card-body">
    <h5 class="card-title GonestonesFont">Gonestones</h5>
    <div class="row">
      <div class="col-6">
        <p class="card-text">
          Foundry: Mercurial Studio<br>
          Link:
          <a href="https://www.creativefabrica.com/designer/mercurial/">Creative Fabrica</a>
        </p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <a href="/gonestones" class="btn btn-success mt-auto">Download (137 KB)</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Starry Cakes</h5>
  <div class="card-body">
    <h5 class="card-title StarryCakesFont">Starry Cakes</h5>
    <div class="row">
      <div class="col-6">
        <p class="card-text">
          Designer: Etjan Dsg<br>
          Link:
          <a href="https://www.creativefabrica.com/designer/etjan-dsg/ref/797271/">Creative Fabrica</a> 
        </p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <a href="/starrycakes" class="btn btn-success mt-auto">Download (67 KB)</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}