{% extends 'base.html' %}

{% block title %}
<title>EasyFonts</title>
{% endblock %}

{% block body %}

<form class="input-group input-bar mb-3" action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" class="form-control" name="file" accept=".ttf, .woff, .woff2"> 
  <input class="input-group-text btn-secondary" type="submit">
</form>

<div class="row">
  <div class="col">
    <div class="bg-light ps-3 pe-2 py-1 rounded-top border border-bottom-0">
      <small class="font-monospace text-muted text-uppercase">File Information</small>
    </div>
    <div class="bg-light border rounded-bottom">
      Font Name : {{ text }} <br>
      Font Upload Location : {{ taskDirectoryJinja }}
    </div>
  </div>
  <div class="col">
      <div class="bg-light ps-3 pe-2 py-1 rounded-top border border-bottom-0">
        <small class="font-monospace text-muted text-uppercase">css</small>
      </div>
      <div class="bg-light border rounded-bottom">
        <pre><code>
@font-face {
  font-family: '{{ text }}';
  src: url('RobotoMono-Regular.woff2') format('woff2'),
      url('RobotoMono-Regular.woff') format('woff'),
      url('RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
        </code></pre>
      </div>
  </div>

</div>
{% endblock %}