{% extends 'base.html' %}

{% block title %}
<title>EasyFonts</title>
{% endblock %}

{% block body %}

<div class="container text-center mb-5">
  <h1>EasyFonts</h1>
  <p>Your @font-face package is ready for download. To generate another package, upload a different file.</p>
  </div>

<form class="input-group input-bar mb-3" action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" class="form-control" name="file" accept=".ttf, .woff, .woff2"> 
  <input class="input-group-text btn-secondary" type="submit" value="Convert">
</form>

<div class="row">
  <div class="col">
    <div class="bg-light ps-3 pe-2 py-1 rounded-top border border-bottom-0">
      <small class="font-monospace text-muted text-uppercase">File Information</small>
    </div>
    <div class="bg-light border rounded-bottom">
      Font Name : {{ fontNameJinja }} <br>

      Files Generated:
<pre><code>
1. {{fileNameJinja}}.css
2. {{fileNameJinja}}.woff2
3. {{fileNameJinja}}.woff
4. {{fileNameJinja}}.ttf
</code></pre>

    </div>
    <div class="text-center">
      <a href="/download" type="button" class="btn btn-success col-12 my-3">Download ({{ packageSizeJinja }} KB)</a>
    </div>
  </div>
  <div class="col">
      <div class="bg-light ps-3 pe-2 py-1 rounded-top border border-bottom-0">
        <small class="font-monospace text-muted text-uppercase">css</small>
      </div>
      <div class="bg-light border rounded-bottom">
<pre><code>
@font-face {
  font-family: '{{ fontNameJinja }}';
  src: url('{{fileNameJinja}}.woff2') format('woff2'),
      url('{{fileNameJinja}}.woff') format('woff'),
      url('{{fileNameJinja}}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
</code></pre>
      </div>
  </div>

</div>
{% endblock %}